.gallery-outer{
    --img-width: 240px;
    --img-height: 160px;

    width: 100%;
    height: 100%;
    /* height: 160px; */
    overflow: hidden;
    display: flex;
    position: relative;
}
.gallery-container{
    display: flex;
    /* position: relative; */
    height: 100%;
}
.gallery-item{
    margin: 0px auto;
}
.gallery-container,
.gallery-item img{
    /* margin: 0px auto; */
    width: auto;
    height: var(--img-height);
}

.gallery-active,
.gallery-prev,
.gallery-next,
.gallery-hidden,
.gallery-thumb-item{
    transition: all .5s ease-in-out;
}

.gallery-item.gallery-active{
    display: block;
    position: absolute;
    left: calc(50% - (var(--img-width) / 2));
}
.gallery-prev > img{
    float: right;
}
.gallery-item.gallery-prev{
    display: block;
    opacity: .5;
    position: absolute;
    /* width: 10vw; */
    /* overflow: hidden; */
    left: calc(50% - (var(--img-width) / 2) - (var(--img-width) + 10px));
}
.gallery-item.gallery-next{
    display: block;
    opacity: .5;
    position: absolute;
    /* width: 10vw; */
    /* overflow: hidden; */
    left: calc(50% - (var(--img-width) / 2) + (var(--img-width) + 10px));
}
.gallery-item.gallery-hidden-left{
    display: block;
    opacity: .3;
    position: absolute;
    left: calc(50% - (var(--img-width) / 2) - (var(--img-width) + var(--img-width)));
}
.gallery-item.gallery-hidden-right{
    display: block;
    opacity: 0.3;
    position: absolute;
    left: calc(50% - (var(--img-width) / 2) + (var(--img-width) + var(--img-width)));
}
.gallery-item.gallery-hidden{
    display: none;
}

.gallery-control-prev i{
    margin: auto 40px auto auto;
    transition: color 0.3s ease-in-out;
    font-size: 3rem;
    color: #CA2933;
}
.gallery-control-next i{
    margin: auto auto auto 40px;
    transition: color 0.3s ease-in-out;
    font-size: 3rem;
    color: #CA2933;
}
.gallery-control-prev:hover i{
    color: #333;
}
.gallery-control-next:hover i{
    color: #333;
}
.gallery-control-next:hover ~ .gallery-container > .gallery-item.gallery-next{
    opacity: .1;
}
.gallery-control-prev:hover ~ .gallery-container > .gallery-item.gallery-prev{
    opacity: .1;
}

.gallery-control-prev{
    position: absolute;
    left: calc(50% - (var(--img-width) / 2) - (var(--img-width) + 10px));
    width: var(--img-width);
    height: var(--img-height);
    z-index: 1;
    cursor: pointer;
    display: flex;
}
.gallery-control-next{
    position: absolute;
    left: calc(50% - (var(--img-width) / 2) + (var(--img-width) + 10px));
    width: var(--img-width);
    height: var(--img-height);
    z-index: 1;
    cursor: pointer;
    display: flex;
}



.gallery-thumbnail{
    --img-width: 80px;
    --img-height: 53px;

    margin-top: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    height: var(--img-height);
}
.gallery-thumb-item:hover{
    opacity: 1;
    cursor: pointer;
}
.gallery-thumb-item{
    position: absolute;
    opacity: .2;
}
.gallery-thumb-item img{
    width: auto;
    height: var(--img-height);
}
.gallery-thumb-item.gallery-thumb-hidden{
    display: none;
}
.gallery-thumb-item.gallery-thumb-hidden-left{
    display: none;
    left: calc(50% - (var(--img-width)/2) - (var(--img-width) + (var(--img-width) * 4 + 25px)));
}
.gallery-thumb-item.gallery-thumb-prev-4{
    left: calc(50% - (var(--img-width)/2) - (var(--img-width) + (var(--img-width) * 3 + 20px)));
}
.gallery-thumb-item.gallery-thumb-prev-3{
    left: calc(50% - (var(--img-width)/2) - (var(--img-width) + (var(--img-width) * 2 + 15px)));
}
.gallery-thumb-item.gallery-thumb-prev-2{
    left: calc(50% - (var(--img-width)/2) - (var(--img-width) + (var(--img-width) + 10px)));
}
.gallery-thumb-item.gallery-thumb-prev-1{
    left: calc(50% - (var(--img-width)/2) - (var(--img-width) + 5px));
}
.gallery-thumb-item.gallery-thumb-active{
    left: calc(50% - (var(--img-width) / 2));
    opacity: 1;
}
.gallery-thumb-item.gallery-thumb-next-1{
    left: calc(50% - (var(--img-width)/2) + (var(--img-width) + 5px));
}
.gallery-thumb-item.gallery-thumb-next-2{
    left: calc(50% - (var(--img-width)/2) + (var(--img-width) + (var(--img-width) + 10px)));
}
.gallery-thumb-item.gallery-thumb-next-3{
    left: calc(50% - (var(--img-width)/2) + (var(--img-width) + (var(--img-width) * 2 + 15px)));
}
.gallery-thumb-item.gallery-thumb-next-4{
    left: calc(50% - (var(--img-width)/2) + (var(--img-width) + (var(--img-width) * 3 + 20px)));
}
.gallery-thumb-item.gallery-thumb-hidden-right{
    display: none;
    left: calc(50% - (var(--img-width)/2) + (var(--img-width) + (var(--img-width) * 4 + 25px)));
}

@media only screen and (min-width: 480px){
    .gallery-outer{
        --img-width: 345px;
        --img-height: 230px;
    }
    .gallery-thumbnail{
        --img-width: 105px;
        --img-height: 70px;
    }
}

@media only screen and (min-width: 768px){
    .gallery-outer{
        --img-width: 540px;
        --img-height: 360px;
    }
    .gallery-thumbnail{
        --img-width: 150px;
        --img-height: 100px;
    }
}
@media only screen and (min-width: 1024px){
    .gallery-outer{
        --img-width: 600px;
        --img-height: 400px;
    }
}
@media only screen and (min-width: 1200px){
    .gallery-outer{
        --img-width: 825px;
        --img-height: 550px;
    }
}
